@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@font-face {
  font-family: 'AO Mono';
  src: url('/fonts/aomono-black-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/aomono-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/AOMono-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/AOMono-Black.otf')  format('opentype'); /* Safari, Android, iOS */
       font-weight: 900;
       font-style: normal;
      }

@font-face {
  font-family: 'Redaction 35';
   src:url('/fonts/Redaction_35-Regular.woff2') format('woff2'),
      url('/fonts/Redaction_35-bold.woff2') format('woff2'),
      url('/fonts/Redaction_35-italic.woff2') format('woff2'),
      url('/fonts/Redaction35-Regular.otf')  format('truetype'),
      url('/fonts/Redaction35-italic.otf')  format('truetype'),
      url('/fonts/Redaction35-bold.otf')  format('truetype'),
      font-weight: 900;
      font-style: normal;
      }

@font-face {
  font-family: 'Inter SemiBold';
  src: url('/fonts/inter-semibold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inter-semibold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Inter-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Inter-SemiBold.otf')  format('opentype'); /* Safari, Android, iOS */
       font-weight: 900;
       font-style: normal;
      }

@font-face {
  font-family: 'European Teletext';
  src: url('/fonts/EuropeanTeletext.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/EuropeanTeletext.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 900;
       font-style: normal;
      }      

@font-face {
  font-family: 'AO Mono';
  src: url('/AOMono-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AO Mono';
  src: url('/AOMono-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('/Inter-SemiBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'La Fabrique Heavy';
  src: url('lafabrique_heavy.otf/') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kraft Mono';
  src: url('KraftMono.otf/') format('opentype');
  src: url('KraftMono-italic.otf/') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Agipo';
   src:  url('/fonts/agipo.ttf')  format('truetype'); /* Safari, Android, iOS */
      font-weight: 900;
      font-style: normal;
      }

header {
  font-family: 'AO Mono', sans-serif;
  margin: 0px;
}

body {
  font-family: 'Inter Regular', sans-serif;
  margin: 0px;
}


.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Agipo', sans-serif;
  font-weight: 1500;
  font-size:120px;
  color: black;
}

h2 {
  font-family: 'Agipo', sans-serif;
  color:grey;
  font-weight: 900;
  font-size:150px;
  opacity: 0.7;
}

h3 {
  font-family: 'Agipo', sans-serif;
  font-weight: 1800;
  font-size:30px;
  line-height: 35px;
  color: black;
}

h4 {
  font-family: 'Agipo', sans-serif;
  font-weight: 1800;
  font-size:25px;
  line-height: 35px;
  text-align: justify;
}

h5 {
  font-family: 'European Teletext', sans-serif;
  color: 00ff00;
  font-weight: 1800;
  font-size:30px;
  line-height: 35px;
}

h6 {
  font-family: 'European Teletext', sans-serif;
  color: blue;
  font-weight: 1800;
  font-size:30px;
  line-height: 35px;
}

/* h3:visited {
  color: #ff6101;
} */

p {
  font-family: 'Agipo', sans-serif;
  font-weight: 900;
  color: black;
  text-align: justify;
}

.p1 {
  font-family: 'Agipo', sans-serif;
  font-weight: 900;
  color: black;
  text-align: center;
}

.nav-item2 > a {
  color: black;
}


a:hover {
  color:#5d5d5d;
}

navcolour:hover {
  color: #5d5d5d;
}

a:hover span {
  color:#5d5d5d;
}

a:visited {
  color:inherit;
}

a:hover > a:visited {
  color:#5d5d5d;
}

.nav-item2 > a:hover {
  color: #5d5d5d;
}

.nav-itemred > a:hover {
  color: #e8112d;
}

h3 > a {
  color: black;
}

h3 > a:hover {
  color: #5d5d5d;
}

p > a {
  color: #5d5d5d;
}

p > a:hover {
  color: #5d5d5d;
}

span > a:hover {
  color: #5d5d5d;
}


#siteWrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

#innerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}


#nowrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 70px;
}

#nowrapper100width {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 70px;
}

.imageStyle {
  display: flex;
  margin: 20px;
  width: 23%;
  height: 23%;
}

.innerImage {
  display: flex;
  width: 100%;
  height: 100%;
}

#navbar {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 5px;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.nav-item2 {
  margin: 10px;
  text-decoration: none;
  font-size: 50px;
  text-align: left;
  text-decoration: none;
  z-index: 300;
  position: fixed;
}

.navcolour {
  color:inherit;
}

.bodyWithHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 500px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

.bodyWithHeader2{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 500px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

.bodyTIGHT {
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 300px;
  margin-top: 60px;
  margin-bottom: 500px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.embeddedObservable {
  width: 100%;
  margin: auto 0;
  z-index: 50;
  margin-top: 5px;
}

.basic-wrapper {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

/* .staticbackground::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url(img/backgroundgrey.jpg);
  background-color: lightgrey;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 910px;
  z-index: -1;
  overflow-y: auto;
}
 */
.staticbackground {
  width: 100%;
  display: flex;
  min-height: 100%;
  max-width: 100%;
  z-index: -1;
 } 

 .staticbackground2 {
  width: 100%;
  display: flex;
  min-height: 100%;
  max-width: 100%;
  z-index: -1;
 } 

.imageContainer {
  float: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
  cursor: move;
  text-align: center;
}

.container2 {
  position: relative;
}

.bodycontainer {
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  margin-top: 60px;
}

.full-img{
	display: block;
	width: 100%;
	height: 100% !important;
	height: 100vh !important;	
}

.twitch-container {
  position:center;
  overflow:hidden;
  z-index: 90;
}

.twitch-embed {
  position:center;
  overflow:hidden;
  z-index: 90;
  height: 1200px;
  width: auto;
}

.videoWrapper {
  height:950px;
  width:1900px;
  position:relative;
  overflow:hidden;
}

.videoWrapper iframe {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
}

.audio-icon {
  display: none;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: none;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  width: 100%;
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}

.dragme { 
  position:relative;
  width: 270px;
  height: 203px;
  cursor: move;
}

#draggable {
  background-color: #ccc;
  border: 6px solid #000;
  cursor: move;
}

.marchbox {
  position: absolute;
  border: 1px solid #000;
  padding: 1em 2em;
  display: none;
  cursor: move;
  cursor: grab;
  opacity: .95;
  box-shadow: 0 0 0 2px hsl(0, 0%, 0%), 0 0 0 6px hsl(0, 0%, 95%);
  cursor: move;
}

.boxwhite {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0px solid #353535;
  padding: 1em 1em;
  background:#e5e5e5;
  box-shadow: 10px 10px 0px #636363;
  /* opacity: .9; */
  cursor: move;
}

.boxempty {
  display: flex;
  flex-direction: column;
  opacity: .9;
}

.boxyellow {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0px solid #353535;
  padding: 1em 1em;
  background: #fff200;
  opacity: 1;
  box-shadow: 5px 5px 0px black;
  cursor: move;
}

.boxred {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0px solid #353535;
  padding: 1em 1em;
  background: red;
  opacity: .95;
  box-shadow: 10px 10px 0px #636363;
  cursor: move;
}

.boxgreen {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0px solid #353535;
  padding: 1em 1em;
  background: #00ff00;
  opacity: .95;
  box-shadow: 10px 10px 0px #636363;
  cursor: move;
}

.boxblue {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0px solid #353535;
  padding: 1em 1em;
  background: #0124ff;
  opacity: .95;
  box-shadow: 10px 10px 0px #636363;
  cursor: move;
}

.boxtransparent {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0px solid #353535;
  padding: 1em 1em;
  box-shadow: 0px 0px 0px #636363;
  opacity: .9;
  cursor: move;
}

.boxnav {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  /* background: #ff6101;*/
  opacity: .95;
  /*  box-shadow: 9px 9px 0px #4a4a4a; */
  /* box-shadow: 0 0 0 2px #ff6101, 0 0 0 6px #ff6101; */
}

.navigationtv {
  background-color: lightgrey;
}


.desktopWindowHeader {
  display: flex;
  flex-direction: row;
  background-color: #4a4a4a;
  color: #bdbdbd;
}

.desktopWindowButtons {
  display: flex;
  flex-direction: row;
  width: 58px;
  padding: 0 5px;
  justify-content: space-around;
  align-items: center;
  height: 22px;
  padding-bottom: 2px;
}

.desktopWindowTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  justify-content: space-around;
  width: 100%;
}

.desktopWindowBody {
  display: flex;
  flex-direction: column;
}

.chatangoWindow {
  width: 250px;
  height: 350px;
}

.mediumWindow {
  width: 600px;
}

.largeWindow {
  width: 800px;
}

.largerWindow {
  width: 1000px;
}

.largestWindow {
  width: 1200px;
}

.xtralargestWindow {
  width: 1400px;
}

.inbetweenWindow {
  width: 500px;
}

.smallWindow {
  width: 300px;
}

.verysmallWindow {
  width: 200px;
}

.redDot {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  margin: 10px;
  background-color: red;
}

.greenDot {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  margin: 10px;
  background-color: green;
}

.blueDot {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  margin: 10px;
  background-color: blue;
}

.yellowDot {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  margin: 10px;
  background-color: yellow;
}

.myText {
  padding: 10px;
  text-align: left;
}

.myText2 {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.myText > p {
  text-align: justify;
  text-justify: inter-word;
}

.myText2 > p {
  text-align: center;
}

.myTextnav {
  padding: 10px;
  text-align: left;
}

.myTextnav > p {
  text-align: left;
}

#makeBigger {
  width: 150%;
  position: center;
  cursor: zoom-in;
}

#intro {
  position: absolute;
  top: 13%;
  left: 25%;
  z-index:120
}

#introfm {
  position: absolute;
  top: 13%;
  left: 25%;
  z-index:120
}

#mailinglist {
  position: absolute;
  top: 13%;
  left: 25%;
  z-index:120
}

#schde {
  display: flex;
  min-width: 500px;
  padding: 40px;
  background:red;
  margin:40px auto;
  align-content:center;
  justify-items: center;
}

#credits {
  position: fixed;
  bottom: 0px;
  right: 1px;
  font-size: 13px;
  z-index:120;
}

#credits2 {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 13px;
  z-index:120;
}

#showcaselink {
  position: absolute;
  bottom: 7%;
  left: 2%;
  font-size: 13px;
  z-index:120;
}

#namesmobile {
  text-align: left;
  display: absolute;
  box-align: center;
  top: 0;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 140px;
  width: 90%;
}

#Marchis {
  position: fixed;
  left: 10px;
  top: 190px;
  z-index:120;
}

#mobiletext {
  width: 100%;
  z-index:120;
  display: flex;
  margin-left:20px;
  margin-right: 10px;
  position: absolute;
  text-align: justify;
}

#timer {
  position: absolute;
  left: 30px;
  top: 20%;
  margin-left: 30px;
  z-index:3;
}

#timerbottomright {
  position: fixed;
  right: 10px;
  bottom: 0px;
  z-index:100;
}

#timerbottomleft {
  position: absolute;
  left: 2px;
  bottom: 0px;
  z-index:100;
}

#navigation {
  top: 40px;
  left: 10px;
  position: fixed;
  z-index: 200;
}

#navigationtv {
  top: 20px;
  left: 10px;
  height: 175px;
  width: 225px;
  position: fixed;
  z-index: 199;
}

#navigationtvmobile {
  top: 30px;
  left: 15px;
  height: 110px;
  width: 120px;
  position: absolute;
  z-index: 199;
}

#chatbox {
  top: 10%;
  left: 50%;
  position: absolute;
  z-index: 100;
}

#remote {
  top: 60%;
  left: 2%;
  position: absolute;
  z-index: 70;
}

#manifesto {
  top: 5%;
  left: 40%;
  position: absolute;
  z-index: 5;
  filter: saturate(0%);
  box-shadow: 10px 10px 0px #636363;
}

#manifesto1 {
  top: 125%;
  left: 40%;
  position: absolute;
  z-index: 5;
}

#manifesto6 {
  top: 50%;
  left: 5%;
  position: absolute;
  z-index: 6;
}

#manifesto7 {
  top: 20%;
  left: 40%;
  position: absolute;
  z-index: 7;
}

#manifesto8 {
  top: 40%;
  left: 60%;
  position: absolute;
  z-index: 8;
}

#manifesto9 {
  top: 30%;
  left: 30%;
  position: absolute;
  z-index: 9;
}

#manifesto10 {
  top: 80%;
  left: 70%;
  position: absolute;
  z-index: 10;
}

#manifesto11 {
  top: 60%;
  left: 72%;
  position: absolute;
  z-index: 11;
}

#csmbbc {
  top: 10px;
  right: 10px;
  position: fixed;
  z-index: 500;
}

#csmbbc2 {
  top: 28px;
  right: 6px;
  position: fixed;
  z-index: 500;
}

#csmbbcmobile {
  bottom: 5px;
  right: 5px;
  position: fixed;
  z-index: 500;
}
/* 
#footer {
  width: 100%;
  height: 30px;
  position: fixed;
  z-index: 499;
} */

#chatango {
  top: 40%;
  left: 70%;
  position: absolute;
  z-index: 12;
}

/* #chatangomobile {
  right: 20px;
  bottom: 30px;
  position: fixed;
  z-index: 12;
} */

#schedule {
  top: 10%;
  left: 30%;
  position: absolute;
  z-index: 13;
}

#schedulemobile {
    text-align: center;
    display: absolute;
    box-align: center;
    top: 0;
    font-size: 12px;
    margin: 0px auto;;
    margin-top: 140px;
    width: 90%;
}

#antenna {
  bottom: 0%;
  left: 10%;
  position: absolute;
  z-index: 14;
}

#dots {
  bottom: 2px;
  left: 2px;
  position: absolute;
  z-index: 200;
}

#tickerbottom {
  bottom: 0px;
  position: absolute;
  z-index: 200;
}

#soundcloud {
  left: 29%;
  top: 38%;
  position: absolute;
  z-index: 10;
}

#soundcloud2 {
  left: 60%;
  top: 10%;
  position: absolute;
  z-index: 11;
}

#soundcloud3 {
  left: 5%;
  top: 50%;
  position: absolute;
  z-index: 12;
}

#countdown {
  bottom: 2px;
  right: 2px;
  position: absolute;
  z-index: 10;
}

.fullcontainer {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 910px) {
  #csmbbc {
    display: none;
  }
  #csmbbc2 {
    display: none;
  }
  #timerbottomright {
    display:none;
  }
  #navigationtv {
    display:none;
  }
  #videoWithNoJs {
    margin-top:200px;
    margin: auto;
    width:400px;
    height:300px;
  }
}

@media screen and (max-width: 1100px) {
  #remote {
    display: none;
  }
  body {
    overflow-x: hidden; /* Hide scrollbars */
  }
}

@media screen and (min-width: 910px) {
  .staticbackground {
    content: "";
    width: 100%;
    min-height: 100%;
    min-height: 150vh;
    top: 0; left: 0;
    background: url(img/backgroundgrey.jpg);
    background-color: lightgrey;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 910px;
    z-index: -1;
    overflow-y: auto;
  }
  .staticbackground2 {
    content: "";
    width: 100%;
    min-height: 100%;
    min-height: 150vh;
    top: 0; left: 0;
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 910px;
    z-index: -1;
    overflow-y: auto;
  }
}

@media screen and (max-width: 910px) {
  #schedule {
    display:none
  }
  #mailinglist {
    display:none
  }
  #marchis {
    display:none
  }
  #credits {
    display:none
  }
  #credits2 {
    display:none
  }
  .embeddedObservable {
    display:none
  }
  #showcaselink {
    display:none
  }
}

@media screen and (min-width: 910px) {
  #schedulemobile {
    display:none
  }
  #navigationtvmobile {
    display:none
  }
  #namesmobile {
    display:none
  }
}

@media screen and (max-width: 910px) {
  #intro {
    display: absolute;
    left: 10px;
    top: 0;
    font-size: 12px;
    margin-right: 10px;
    /* margin: 0px auto; */
    margin-top: 200px;
    margin-bottom: 100px;
    width: 90%;
    text-align: justify;
  }
  #namesmobile {
    display: absolute;
    left: 0px;
    top: 0;
    font-size: 18px;
    /* margin: 0px auto;; */
    margin-top: 200px;
    margin-bottom: 100px;
    width: 90%;
    text-align: justify;
  }
  #schedulemobile {
    display: absolute;
    left: 10px;
    top: 0;
    font-size: 18px;
    margin: 0px auto;;
    margin-top: 200px;
    margin-bottom: 100px;
    width: 90%;
    text-align: center;
  }
  #navbar {
    top: 0px;
  }
  #navbar > .nav-item2 {
    font-size: 35px;
  }
  #navigation {
    top: 20px;
    left: 10px;
    position: fixed;
    z-index: 200;
  }
  h2  {
    font-size: 100px;
    line-height: 90px;
  }
  h3  {
    font-size: 25px;
    line-height: 30px;
  }
  h4 {
    font-size: 20px;
    line-height: 22px;
  }
  #antenna {
    display: none;
  }
  #soundcloud {
    display: none;
  }
  #soundcloud2 {
    display: none;
  }
  #soundcloud3 {
    display: none;
  }
  #introfm {
    display: none;
  }
}

/* @media screen and (min-width: 910px) {
  #mobiletext {
    display: none;
  }
} */

@media screen and (min-width: 910px) {
  #csmbbcmobile {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  #chatangomobile {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  #timer {
    font-size: 70px;
    top: 200px;
    text-align: left;
    left: 20px;
    right:30px; 
    margin: auto;
  }
}

@media screen and (max-width: 1100px) {
  #chatango {
    display: none;
  }