@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@font-face {
  font-family: 'AO Mono';
  src: url('/fonts/aomono-black-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/aomono-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/AOMono-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/AOMono-Black.otf')  format('opentype'); /* Safari, Android, iOS */
       font-weight: 900;
       font-style: normal;
      }

      @font-face {
        font-family: 'redaction 35';
        src:url('/fonts/Redaction_35-Regular.woff2') format('woff2'),
            url('/fonts/Redaction_35-bold.woff2') format('woff2'),
            url('/fonts/Redaction_35-italic.woff2') format('woff2'),
            url('/fonts/Redaction35-Regular.otf')  format('truetype'),
            url('/fonts/Redaction35-italic.otf')  format('truetype'),
            url('/fonts/Redaction35-bold.otf')  format('truetype'),
             font-weight: 900;
             font-style: normal;
            }

@font-face {
  font-family: 'Inter SemiBold';
  src: url('/fonts/inter-semibold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inter-semibold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Inter-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Inter-SemiBold.otf')  format('opentype'); /* Safari, Android, iOS */
       font-weight: 900;
       font-style: normal;
      }

@font-face {
  font-family: 'AO Mono';
  src: url('/AOMono-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AO Mono';
  src: url('/AOMono-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('/Inter-SemiBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

header {
  font-family: 'AO Mono', sans-serif;
  margin: 0px;
}

body {
  font-family: 'Inter Regular', sans-serif;
  margin: 0px;
}

h1 {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 900;
  color: #ff6101;
  font-size:120px;
}

h1 {
  text-decoration: none;
}

h1:hover {
  color: blue;
}

h1:link, {
  color: #ff6101;
}

h1:visited {
  color: #ff6101;
}

h2 {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 900;
  font-size:20px;
}

h3 {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 900;
  color: #ff6101;
  font-size:30px;
}

h3:visited {
  color: #ff6101;
}


p {
  font-family: 'Inter SemiBold', sans-serif;
  font-weight: 900;
  color: black ;
  text-align: center;
}


p2 {
  font-family: 'Inter SemiBold', sans-serif;
  font-weight: 1500;
  color: #0023ff;
}


#siteWrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

#innerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
}


#nowrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 70px;
}

#nowrapper100width {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 70px;
}


#Library {
  height: 841px;
  width: 594px;
}

#Library:hover {
  content: url('img/civic waste/front page hover.png');
  width: 841px;
  height: 594px;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: 99;
  justify-content: center;
  margin-bottom: 40px;
  align-items: flex-end;
}

#loading-image {
  width: 150px;
  height: 150px;
}

.imageStyle {
  display: flex;
  margin: 20px;
  width: 23%;
  height: 23%;
}

.imageStyle:hover {
  box-shadow: 7px 7px 0px #283277;
}

.innerImage {
  display: flex;
  width: 100%;
  height: 100%;
}

#navbar {
  display: flex;
  position: absolute;
  color: #fce406;
  top: 10;
  left: 10;
  bottom: 10;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.nav-item {
  margin: 10px;
  text-decoration: none;
  color: #ED1B58;
  font-size: 20px;
  text-align: center;
  z-index: 300;
}

.nav-item2 {
  margin: 10px;
  text-decoration: none;
  color: #ff6101;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 300;
}

.bodyWithHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 500px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

.bodyWithHeader2{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 500px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

.bodyTIGHT {
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 300px;
  margin-top: 60px;
  margin-bottom: 500px;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.embeddedObservable {
  width: 100%;
  margin: auto 0;
}

.basic-wrapper {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.bodyWithHeaderSillyColour {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #ED1B58;
  color: white;
  font-size:70px;
}

.staticbackground {
  width: 100%;
  display: flex;
  min-height: 100%;
  background-color: #353535;
  background:url('img/static/static11.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.bodyWithHeaderSillygreen {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #c6d92c;
  color: #ED1B58;
  font-size:70px;
}

.MArchyellow {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  background-color:#fff200;
  font-size:70px;
}

.bodyWithHeadergreen {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #c6d92c;
}

.pink-behind {
  background-color: #ED1B58;
}

.nav-item-inverse {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(170, 20, 12);
  text-align: center;
}

.nav-item-inverse-pink {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color:#ED1B58;
  text-align: center;
}

.nav-item-inverse-alt {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #c6d92c;
  text-align: center;
}

.imageContainer {
  float: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
  cursor: move;
  text-align: center;
}

.container2 {
  position: relative;
}

.bodycontainer {
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  margin-top: 60px;
}

.full-img{
	display: block;
	width: 100%;
	height: 100% !important;
	height: 100vh !important;	
}

.video-container {
  position:relative;
  padding-bottom:30px;
  border-top: 60px;
  padding-top:30px;
  height:500;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.twitch-container {
  position:center;
  padding-bottom:30px;
  border-top: 0px;
  padding-top:0px;
  height:auto;
  overflow:hidden;
  z-index: 1;
}

.audio-icon {
  display: none;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 900px) {
  body {
    background-color:white;
  }
}

.card {
  width: 100%;
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}

.dragme{
  position:relative;
  width: 270px;
  height: 203px;
}

#draggable {
  background-color: #ccc;
  border: 6px solid #000;
}

.marchbox {
  position: absolute;
  border: 1px solid #000;
  padding: 1em 2em;
  display: none;
  cursor: move;
  cursor: grab;
  opacity: .95;
  box-shadow: 0 0 0 2px hsl(0, 0%, 0%), 0 0 0 6px hsl(0, 0%, 95%);
}

.desktopWindowBorder {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 4px solid #353535;
  padding: 1em 1em;
  background: #ff6101;
  opacity: .95;
  /*  box-shadow: 9px 9px 0px #4a4a4a; */
  box-shadow: 0 0 0 2px #ff6101, 0 0 0 6px #ff6101;
}

.desktopWindowBordernav {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  text-align: left;
  /* background: #ff6101;*/
  opacity: .95;
  /*  box-shadow: 9px 9px 0px #4a4a4a; */
  /* box-shadow: 0 0 0 2px #ff6101, 0 0 0 6px #ff6101; */
}

.desktopWindowHeader {
  display: flex;
  flex-direction: row;
  background-color: #4a4a4a;
  color: #bdbdbd;
}

.desktopWindowButtons {
  display: flex;
  flex-direction: row;
  width: 58px;
  padding: 0 5px;
  justify-content: space-around;
  align-items: center;
  height: 22px;
  padding-bottom: 2px;
}

.desktopWindowTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  justify-content: space-around;
  width: 100%;
}

.desktopWindowBody {
  display: flex;
  flex-direction: column;
}

.mediumWindow {
  width: 600px;
}

.largeWindow {
  width: 800px;
}

.largerWindow {
  width: 1000px;
}

.largestWindow {
  width: 1200px;
}

.xtralargestWindow {
  width: 1400px;
}

.inbetweenWindow {
  width: 500px;
}

.smallWindow {
  width: 300px;
}

.verysmallWindow {
  width: 200px;
}

.redDot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ff5752;
}

.yellowDot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e3c224;
}

.greenDot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #63bd25;
}

.myText {
  padding: 10px;
  text-align: left;
}

.myText > p {
  text-align: justify;
  text-justify: inter-word;
}

.myTextnav {
  padding: 10px;
  text-align: left;
}

.myTextnav > p {
  text-align: left;
}

#makeBigger {
  width: 150%;
  position: center;
  cursor: zoom-in;
}

#intro {
  top: 22%;
  left: 25%;
  position: absolute;
  z-index: 15;
}

#navigation {
  top: 5%;
  left: 0%;
  position: absolute;
  z-index: 15;
}
